.App {
  text-align: center;
  background-color: rgb(212, 228, 219);
  /* max-width: 3200px;
  width: 90%; */
}

.App-header {
  min-height: 51vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url("./images/maxresdefault.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
}

footer {
  background-color: rgb(26, 29, 48);
  color: white;
  padding: 5px;
}
